fastapi
uvicorn
websockets
langchain
langchain-core
langchain-ollama
qdrant-client
sentence-transformers
networkx
psutil
pynvml
numpy
sounddevice
webrtcvad
pygame
faster-whisper
torch
torchaudio
huggingface_hub
